.main-container {
  padding: 0px 3pc 0 3pc;
  box-sizing: border-box;
  
}
body {
  background-color: black;
  font-family: Montserrat;
  
}
.Home-container {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Banner-title {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  padding: 0px 45px 0 45px;
  font-weight: 900;
  

}
.Banner-Background {
  width: 100%;
  border-radius: 50px;
  margin: 63px 45px 45px 45px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  filter: brightness(60%);
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-content {
  background-color: $grey;
  height: 100%;
  border-radius: 25px;
  margin: 44px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 94%;
  margin: 0 auto;
  margin-bottom: 45px;
}

.location-card{
  width: 28%;
  height: 300px;
  border-radius: 10px;
  margin: 27px auto;
  object-fit: cover;

}
.location-title {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  font-size: 18px;
  color: white;
  margin: -124px 10px 10px 6px;
  font-weight: 900;
  position: relative;
  margin-top: 13pc;
  margin-left: 8px;
}


.location-detail {
  color: white;
  margin-left: 9px;
  margin-top: -6px;
  width: 100%;
  font-weight: 900;
  font-size: 11px;
  position: relative;
}
a {
  text-decoration: none;
}
/*A propos*/
.propos {
  color: black;
  background-color: white;
}
.Banner-about {
  width: 100%;
  height: 306px;
  margin: 45px 45px 45px 45px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.Arrow-up:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
body {
  background-color: white;
  margin: 0;
}
.main-container {
 width: 100%;
 padding: 0;
  }
  .Home-container {
    width: 100%;
  }
.Banner {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}
.Banner-Background {
  border-radius: 12px;
  margin: 72px 19px 35px 15px;
  height: 122px;
}
.Banner-title {
  font-size: 24px;
  white-space: normal; /* Permet au texte de passer sur plusieurs lignes */
  width: 225px;
  margin-top: 49px;  
}

.Banner-about{
  border-radius: 12px;
  height: 175px;
  margin: 70px 12px 26px 12px;
}
.location-card {
  width: 90%;
  height: 198px;
  border-radius: 10px;
} 

.location-content {
  background-color: #F6F6F6;
  height: 100%;
  border-radius: 25px;
  flex-direction: column;
  margin-bottom: 0;
  }
  .location-title {
    font-size: 15px;
    margin-top: 8pc;
  }
  .location-detail {
    font-size: 12px;
  }
  
}