.Carrousel {
    height: 42%;
  }
.image-carrousel {
    width: 100%;
    border-radius: 50px;
    margin: 45px 0px 0px 0px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 21pc;
    filter: brightness(80%);
  }
  .carousel-buttonLeft {
    position: relative;
    color: white;
    background: transparent;
    border: none;
    padding: 18px;
  }
 .carousel-buttonRight {
    position: relative;
    color: white;
    background: transparent;
    border: none;
    padding: 18px;
  }
  .ArrowRight {
    height: 100px;
  }
  .ArrowLeft {
    height: 100px;
  }
  .button-carrousel {
    display: flex;
    justify-content: space-between;
    margin-top: -14pc;
  }
  .carousel-pagination {
    position: relative;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 38px;
    color: white;
  }
  @media (max-width: 1024px) { 
    .image-carrousel {
        height: 255px;
        border-radius: 12px;
        width: 107%;
        margin: 45px 0px 2px -13px;
    }
    .logement-container{
        padding: 0;
    }
    .carousel-buttonRight {
        margin-top: 66px;
    }
    .carousel-buttonLeft {
        margin-top: 66px;
    }
    .ArrowRight {
        height: 30px;
      }
      .ArrowLeft {
        height: 30px;
      }
      .carousel-pagination {
        font-size: 17px;
        font-weight: bolder;
        color: white;
      }
  }
