.Collapse-card {
  background: #FF6060;
  color: white;
  border-radius: 10px;
  height: 52px;
  margin: 0 11% 2% 11%;
  display: flex;
  justify-content: space-between;
  width: 75%;
  font-size: 25px;
  border: none;
  padding: 9px 35px;
}
.Collapse-container {
    display: flex;
    justify-content: center;
  }

.Collapse-text {
  padding-bottom: 5px;
  color: #FF6060;
  background-color: #F6F6F6;
  width: 70%;
  padding-left: 25px;
  padding-right: 25px;
  margin: -15px 0% 2% 11%;
  border: none;
  font-size: 18px;
  }

.Arow-up {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 85%;
    justify-content: center;
  }

.Collapse-space {
    padding-bottom: 1pc;
  }
@media (max-width: 1024px) {
  .Collapse-text {
    width: 61%;
    margin: -10px 0% 2% 11%;
    }
  .Collapse-card {
    width: 100%;
    margin: 19px 0;
    height: 37px;
    font-size: 15px;
  }
}