.notfound {
    padding: 0px 3pc 0 3pc;
    box-sizing: border-box;
    background-color: white;
    width: 80%;
    margin: auto;
}
.notfound-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62pc;
}
.notfound-title{
    color: $red;
    font-size: 288px;
    margin-top: 0;
    margin-bottom: 101px;
}
.notfound-text {
    color: $red;
    font-size: 15px;
}
.back-link {
    color: $red;
}
.back-link:hover {
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 250px;
    border-bottom: solid 1px $red;
  }
@media (max-width: 1024px) {
    .notfound-container {
        height: 41pc;
    }
    .notfound-title {
        font-size: 166px;
        margin-top: -1pc;
    }   
    .notfound-text {
        font-size: 18px;
        width: 100%;
        margin-bottom: 78px;
    }
    .back-link {
        margin-top: 0;
        margin-bottom: -13pc;
        width: 111%;  
    }
}