.notfound {
    padding: 0px 3pc 0 3pc;
    box-sizing: border-box;
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.notfound-container{
    height: 62pc;
}
.notfound-title{
    color: $red;
    font-size: 288px;
    margin-top: 50px;
    margin-bottom: 101px;
    text-align: center;
}

.notfound-oups {
    color: $red;
    font-size: 28px;

}
.notfound-noexist {
    color: #FF6060;
    font-size: 26px;
    margin: -80px 0px 58px 281px;
    width: 100%;
}
.back-link {
    color: $red;
    border-bottom: solid 1px $red;
    width: 44%;
    margin-left: 13pc;
    font-size: 18px;
    
}

@media (max-width: 1024px) {
    .notfound-container {
        height: 41pc;
    }
    .notfound-title {
        font-size: 161px;
        margin-top: 7pc;
    }   
    .notfound-text {
        font-size: 18px;
        width: 100%;
        margin-bottom: 78px;
    }
    .back-link {
        margin: 0 0 -13px 31px;
        width: 87%;  
        border-bottom: solid 1px $red;
        font-size: 18px;
    }
    .notfound-oups {
        color: $red;
        margin-bottom: -5px;
        margin-left: 5pc;
        font-size: 18px;
        
    }
    .notfound-noexist {
        color: $red;
        margin-bottom: 50px;
        width: 108%;
        margin-left: 42px;
        font-size: 18px;
        margin-top: 10px;
    }
}