.logement-container {
    padding: 0px 3pc 0 3pc;
    box-sizing: border-box;
    background-color: white;
    width: 80%;
    margin: auto;
    height: 50pc;
}
.logement-image {
    width: 100%;
    height: 84%;
    margin-top: 3%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.logement-details {
    margin-top: 0;
    color: white;
  }
.logement-title {
    font-size: 50px;
    color: $red;
}
.logement-location {
    margin-top: -30px;
    font-weight: bold;
    color: $red;
}
.logement-tags {
    margin: 35px 0;
}
.tag {
    border-radius: 26px;
    background-color: #FF6060;
    color: white;
    padding: 5px 29px;
    margin-right: 19px;
    font-weight: 900;
}
.Carrousel {
    height: 50%;
}
.star-outline {
    display: inline-block;
    -webkit-text-stroke: 1px black; /* Bordure noire */
    font-size: 24px; /* Ajustez la taille de l'étoile selon vos besoins */
    margin-right: 4px; /* Espacement entre les étoiles */
  }


