.logement-container {
    padding: 0px 3pc 0 3pc;
    box-sizing: border-box;
    background-color: white;
    width: 80%;
    margin: auto;
    height: 100%;
}
.logement-image {
    width: 100%;
    height: 84%;
    margin-top: 3%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.logement-details {
    margin-top: 0;
    color: white;
  }
.logement-title {
    font-size: 26px;
    color: #FF6060;
    width: 68%;
    margin-top: 4pc;
    margin-bottom: 37px;
  }

.logement-location {
    margin-top: -30px;
    font-weight: bold;
    color: $red;
}
.logement-tags {
    margin: 35px 0;
}
.tag {
    border-radius: 26px;
    background-color: #FF6060;
    color: white;
    padding: 5px 29px;
    margin-right: 19px;
    font-weight: 900;
}
.Carrousel {
    height: 50%;
}
.Host {
     color: $red;
     margin-left: -8pc;
    margin-top: -4pc;
}
 .host-rating {
    display: flex;
    width: 100%;
    margin-top: -9pc;
    justify-content: flex-end;
    margin-bottom: 3pc;
  }
 .Picturehost {
    border-radius: 100%;
    height: 6pc;
  }
  .logement-rating {
    margin-top: 101px;
    margin-bottom: 1pc;
    margin-left: -94px;
  }
  .Collapse-logement {
    padding-bottom: 15px;
  }
  @media (max-width: 1024px) {
.logement-rating {
    margin-top: 117px;
    margin-bottom: 0pc;
    margin-left: 0px;
    font-size: 11px;
  }
.logement-title {
    font-size: 22px;
    color: #FF6060;
    width: 100%;
    margin-top: 4pc;
    }
.host-rating {
    display: flex;
    margin-top: -5pc;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 0;
    }
.Host-picture {
    margin-top: 76px;
    margin-right: -37px;
    }
.tag {
    padding: 3px 10px;
    font-size: 12px;
    margin-top: 10px;
    }
.logement-tags {
    margin: 4px 0;
    display: flex;
    flex-wrap: wrap;    
    }
.Picturehost {  
    height: 3pc;
    margin-top: 27px;
    margin-right: 36px;
    }
.Host {
     margin-top: -38px;
     font-weight: bolder;
     font-size: 12px;
     margin-left: -8pc;

}
  }
