/* Header */
.headers {
  width: 100%;
  margin: 0 auto;
}

.Accueil {
  display: flex;
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
  margin-right: 19px;
}

.Propos {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
}

.navbar-header {
  display: flex;
  background-color: white;
}

.Navbar {
  background-color: white;
  width: 80%;
  margin: -22px auto;
}

.Link {
  display: flex;
  justify-content: flex-end;
  margin: -64px 47px 0 0;
}

.App-logo {
  height: 68px;
  margin: 18px 0 0 51px;
}

/* Footer */
.footer-content {
  width: 100%;
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.App-logoFooter {
  width: 122px;
  height: 39.4444198608px;
}

.Info-Footer {
  color: white;
}

.main-container {
  padding: 0px 3pc 0 3pc;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.Home-container {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

.Banner {
  display: flex;
  justify-content: center;
}

.Banner-title {
  margin-top: 0;
  position: absolute;
  top: 12pc;
  z-index: 1;
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  padding: 0px 45px 0 45px;
}

.Banner-Background {
  width: 100%;
  border-radius: 50px;
  margin: 45px 45px 45px 45px;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-content {
  background-color: #F6F6F6;
  height: 100%;
  border-radius: 25px;
  margin: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 94%;
  margin: 0 auto;
  margin-bottom: 45px;
}

.location-card {
  background: linear-gradient(180deg, #FF6060 0%, rgba(0, 0, 0, 0.5) 120%);
  width: 22%;
  height: 15%;
  border-radius: 10px;
  margin: 55px 30px 55px 30px;
}

.location-title {
  display: flex;
  margin-top: 85%;
  flex-wrap: wrap;
  width: 128px;
  font-size: 18px;
  color: white;
  margin-left: 18px;
}

/*A propos*/
.propos {
  color: black;
  background-color: white;
}

.Banner-about {
  width: 100%;
  height: 223px;
  margin: 45px 45px 45px 45px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.Collapse-card {
  background: #FF6060;
  color: white;
  border-radius: 10px;
  height: 52px;
  margin: 0 11% 2% 11%;
  display: flex;
  justify-content: center;
  width: 75%;
  font-size: 25px;
  padding-top: 10px;
}

.Collapse-container {
  display: flex;
  justify-content: center;
}

.Collapse-text {
  padding-bottom: 5px;
  font-size: 31px;
  color: #FF6060;
  background-color: #F6F6F6;
  width: 72%;
  padding-left: 25px;
  padding-right: 25px;
  margin: -36px 0 21px 205px;
}

.Arow-up {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 85%;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */